
<main class="main">
  <div class="content">
    hello!! {{title}}
    <section>
      <app-user name="Moises" />

      <button (click)="greet()">Say hi!</button>
      <button (click)="userService.sayHi()">Say hi from service!</button>

      <div (mouseover)="onMOuseOver()">mouse over me</div>
    
      <app-counter (addEvent)="onAdd($event)" />

      <div>what is the value of counter? the values comes from an event: {{ counter }} </div>
    </section>

    <section>
      @defer {
        <app-comments />
      } @placeholder {
        <p>future content of comments</p>
      } @loading(minimum 2s) {
        <p>loading ...</p>
      }
    </section>

    <section>
      <app-image-component />
    </section>

    <section>
      <p>Pipe applied here:</p>
      <p>{{ fullName | uppercase }}</p>

      <p>{{ currentDate | date:'medium' }}</p>

      <p>Number with "decimal" {{ 1234.78898989 | number:"3.2-2" }}</p>
      <ul>
        <li>Date with "date" {{ birthday | date: 'medium' }}</li>
        <li>Currency with "currency" {{ cost | currency }}</li>
        <li>Star pipe {{ 5 | star }}</li>
        <li>Reverse pipe {{ fullName | reverse }}</li>
      </ul>
    </section>

    <nav>
      <button routerLink="/">Home</button>
      <button routerLink="/profile">Profile</button>
    </nav>
  </div>
</main>

<router-outlet />
