
<main class="main">
  <div class="content">
    hello!! {{title}}
    <section>
      <app-user name="Moises" />

      <button (click)="greet()">Say hi!</button>

      <div (mouseover)="onMOuseOver()">mouse over me</div>
    
      <app-counter (addEvent)="onAdd($event)" />

      <div>what is the value of counter? the values comes from an event: {{ counter }} </div>
    </section>
  </div>
</main>

<!-- component directives @Component
structural direcive ng if ng for etc
attribute directives, input, style output or custom 
-->
<router-outlet />
